{% load static %}

<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Javi Amat</h1>
        <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer"></span></p>
        <div class="social-links">
            <a href="https://twitter.com/CzRtrading" class="twitter"><i class="bi bi-twitter-x"></i></a>
            {% comment %} <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> {% endcomment %}
            {% comment %} <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> {% endcomment %}
            <a href="https://czrcapital.substack.com/" class="substack"><i class="bi bi-substack"></i></a>
            <a href="https://www.linkedin.com/in/javier-amat-495ba333/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</section>
