{% load static %}

<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Resume</h2>
      <p>I help companies in digital organization and transformation. Founder of CZR Capital, Co-Founder of 53Dientes, Teacher at <a href="https://www.uji.es" target="_blank" >UJI</a>, and Technician at AceleraPyme.</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Javi Amat</h4>
          <p><em>Designer turned developer, with curiosity in many languages that I have learned self-taught or through official courses. Now I am creating this portfolio to practice my skills and for you to get to know me. I am an eternal Junior.</em></p>
          <ul>
            <li>Benicassim, SPAIN</li>
            <li>+34 676 210 214</li>
            <li>hola@czr.es</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Xarxatec Activa </h4>
          <h5>2023 - Now</h5>
          <p>HTML, CSS, JavaScript, IoT, no-code, etc...</p>
          {% comment %} <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
          <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> {% endcomment %}
        </div>
        <div class="resume-item">
          <h4>Master's Degree in New Trends and Innovation Processes in Communication</h4>
          <h5>2023 - Now</h5>
          <p><em>Universitat Jaume I, Castellón</em></p>
          {% comment %} <p><em>Universitat Jaume I, Castellón</em></p>
          <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> {% endcomment %}
        </div>
        <div class="resume-item">
          <h4>OpenBootcamp </h4>
          <h5>2022 - Now</h5>
          <p>Python, HTML, CSS, JavaScript, Angular, React, Django, etc...</p>
          {% comment %} <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
          <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> {% endcomment %}
        </div>
        <div class="resume-item">
          <h4>Master's Degree in Business Creation and Administration </h4>
          <h5>2001 - 2002</h5>
          <p><em>Escuela de Organización Industrial</em></p>
          {% comment %} <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
          <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> {% endcomment %}
        </div>
        <div class="resume-item">
          <h4>Bachelor's Degree in Industrial Design Engineering</h4>
          <h5>1996 - 2000</h5>
          <p><em>Universitat Jaume I, Castellón</em></p>
          {% comment %} <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
          <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> {% endcomment %}
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Digital Transformation Specialist </h4>
          <h5>2022 - Now</h5>
          <p><em>Oficina AceleraPyme - Diputación de Castellón, (Castellón) </em></p>
          <ul>
            <li>From the office, we diagnose needs and provide advice on the digital transformation of companies.</li>
            <li>We also train companies in digital transformation and development.</li>
            <li>We provide courses and training to enhance the business fabric of the territory.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>University professor</h4>
          <h5>2022 - Now</h5>
          <p><em>Universitat Jaume I, Castellón</em></p>
          <ul>
            <li>Computer-Aided Conceptual Design</li>
            <li>Inclusive Design</li>
            <li>Model Workshop </li>
            <li>Master's Thesis (TFM) </li>
            <li>Bachelor's Thesis (TFG)  </li>
            <li>Company Internship </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Co-Founder</h4>
          <h5>2021 - Now</h5>
          <p><em>53Dientes</em></p>
          <ul>
            <li>Marketing Partner</li>
            <li>Responsible for online store management</li>
            <li>Product development</li>
            <li>Internal organization and documentation </li>
            <li>Sales relationship </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Founder</h4>
          <h5>2014 - Now</h5>
          <p><em>CZR Capital</em></p>
          <ul>
            <li>Capital manager</li>
            <li>Trading algorithm developer </li>
            <li>Content creator</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Freelance</h4>
          <h5>2007 - 2020</h5>
          <p><em>ab|cretivos</em></p>
          <ul>
            <li>Graphic Design</li>
            <li>3d modelling </li>
            <li>Interior design</li>
            <li>Web designer</li>
            <li>Developer</li>
            <li>Wordpress</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Teacher</h4>
          <h5>2002 - 2003</h5>
          {% comment %} <p><em>ab|cretivos</em></p> {% endcomment %}
          <ul>
            <li>Office</li>
            <li>Photoshop </li>
            <li>Autocad</li>
            <li>Indesign</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Researcher</h4>
          <h5>2000 - 2002</h5>
          <p><em>Universitat Jaume I</em></p>
          <ul>
            <li>CAD/CAM</li>
            <li>Bachelor's Thesis (TFG) </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>