{% extends './layouts/base.html' %}

{% block title %}devCZR{% endblock %}

{% block content %}

    <!-- ======= Hero Section ======= -->
    {% include 'layouts/partials/hero.html' %}    
    <!-- End Hero -->
    <main id="main">
        <!-- ======= About Section ======= -->
        {% include 'layouts/partials/aboutme.html' %}    
        <!-- End About Section -->
        
        <!-- ======= Facts Section ======= -->
        {% include 'layouts/partials/facts.html' %}    
        <!-- End Facts Section -->

        <!-- ======= Skills Section ======= -->
        {% include 'layouts/partials/skills.html' %}    
        <!-- End Skills Section -->

        <!-- ======= Resume Section ======= -->
        {% include 'layouts/partials/resume.html' %}    
        <!-- End Resume Section -->

        <!-- ======= Portfolio Section ======= -->
        {% include 'layouts/partials/portfolio.html' %}    
        <!-- End Portfolio Section -->

        <!-- ======= Services Section ======= -->
        {% include 'layouts/partials/services.html' %}    
        <!-- End Services Section -->

        <!-- ======= Contact Section ======= -->
        {% include 'layouts/partials/contact.html' %}    
        <!-- End Contact Section -->
    </main><!-- End #main -->

{% endblock %}
